@model notesappp.Models.Note
@{
    ViewData["Title"] = "Home Page";
}
 
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="text" class="form-control" name="title" id="title" >
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea class="form-control" name="description" id="description" rows="3"></textarea>
</div> 
<button type="button" class="btn btn-primary" onclick="AddOnclick()">ADD</button>
<div class="container Show" id="shownote">
</div>